body {
  /*padding-top: 25px;*/
  /*background-color: #CCCCCC;*/
}

header {
  background-color: #CCCCCC;
}

.logo {
  max-width: : 100%;
  display: block;
  margin-left: 138px;
}

.info {
  padding-top: 65px;
  font-weight: bold;
}

/*.navbar-inverse {
  font-size: 16px;
}*/

.navbar {
  font-size: 16px;
  background-color: #CCCCCC;
  border-color: #FFD700
}

.glyphicon-chevron-down {
  color: #888888;
}

.dropdown-menu {
  background-color: #CCCCCC;
  color: #FFFFFF;
}

.dropdown-menu a {
  background-color: #CCCCCC;
  color: #FFFFFF;
}*/
