body {
  /*padding-top: 25px;*/
  /*background-color: #CCCCCC;*/
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: #CCCCCC;
}

.logo {
  max-width: : 100%;
  display: block;
  margin-left: -25px;
}

.info {
  padding-top: 65px;
  padding-right: 40px;
  /*font-weight: bold;*/
}

.navbar {
  /*font-size: 16px;*/
  background-color: #000077;
  border: solid #000077 2px;
  /*border-color: #FFD700;*/
  margin-bottom: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-nav > a {
  color: #ff0000;
}

.navbar .nav > li.active > a:hover,
.navbar .nav > li > a:hover {
  color: #FFD700;
}

.navbar .nav > li.active > a,
.navbar .nav > li > a {
  color: #E6E6E6;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
  color: #333333;
  font-weight: bold;
}

.navbar .navbar-collapse {
  text-align: center;
}

.glyphicon-chevron-down {
  color: #FFD700;
}

.page-header {
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}

.page-header p {
  font-size: 18px;
}

.page-header {
  background-color: #DDDDDD;
}

span.glyphicon-tree-conifer,
span.glyphicon-ok,
span.glyphicon-piggy-bank {
  font-size: 200%;
}

span.glyphicon-tree-conifer {
  color: #000077;
}

span.glyphicon-option-horizontal {
  font-size: 200%;
}

i.fa-home,
i.fa-wrench {
  font-size: 218%;
  color: #FFD700;
}

i.fa-gavel {
  font-size: 200%;
  color: #000077;
}

span.glyphicon-ok,
span.glyphicon-piggy-bank,
span.glyphicon-home {
  color: #FFD700;
}


/*span.glyphicon-home {
  color: #000077;
}*/

/*.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a
{
   color: #555555;
   background-color: #E6E6E6;
   border-color: #E6E6E6;
}

.dropdown-menu {
  background-color: #E6E6E6;
  color: #E6E6E6;
}

.dropdown-menu a {
  background-color: #E6E6E6;
  color: #E6E6E6;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover {
  background-color: #000077;
  color: #FFD700;
}*/

.page-header small {
  color: #000077;
}

.house {
  margin-top: 60px;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.8em;
  padding-top: 2em;
  font-size: 14px
}

/*.tab-content {
  background-color: #e3e3e3;
}*/

.nav-tabs > li.inactive a {
  color: #000077;
  font-size: 18px;
}

.nav-tabs > li.active a,
.nav-tabs > li.active a:hover {
  color: #000000;
  text-decoration: underline;
}

.nav-tabs p {

}
